.PlayOrderPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 3vmin;
    outline: none;
    text-decoration: none;
}

.playorder-heading {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    font-size: 3vmin;
}

.playorder-img {
    height: auto;
    width: 30vmax;
    border: solid rgba(100, 28, 39, 1);
    border-width: 0.5vmin;
    background-color: rgba(100, 28, 39, 1);
    margin-right: 3vmin;
}

.playorder-container {
    display: flex;
    flex-direction: row;
    width: 60vmax;
    font-size: 2vmin;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vmax;
}

.playorder-intro {
    font-family: 'Cormorant', serif;
    text-align: center;
    font-size: 1.5vmin;
}

.link, .link:visited {
    text-decoration: none;
    font-weight: bold;
    color: rgba(100, 28, 39, 1);
}

.link:hover {
    color: rgba(238, 45, 50, 1);
}

.accordion-summary {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 4fr 1fr;
    width: 30vmax;
}

.supplement-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2.5vmin;
    text-align: left;
}

.supplement-title:hover {
    color: rgba(238, 45, 50, 1);
}

.level {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.5vmin;
    color: rgb(34, 34, 34);
    text-align: right;
    align-self: center;
}

.description {
    font-family: 'Cormorant', serif;
    font-size: 1.5vmin;
    text-align: left;
}
