.SignUpPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 3vmin;
}

.signup-container {
  display: flex;
  flex-direction: row;
  width: 60vmax;
}

.signup-heading {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  font-size: 3vmin;
}