.ProfilePage {
    display: flex;
    flex-direction: row;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 95vmin;
    width: 100vmax;
    
    margin: 30px;
}
  
.profile-heading {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    font-size: 3vmin;
    color: rgba(37, 35, 31, 1);
}

.profile-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 25vmin;
    width: 60vmin;
    background-color: rgba(37, 35, 31, .75);
    border: solid rgba(100, 28, 39, 1);
    border-width: 0.5vmin;
    margin: 0;
}

.avatar {
    height: 23vmin;
    width: 23vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
}

.details-table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    height: 20vmin;
    width: 34vmin;
    font-size: 1.5vmin;
    margin-right: 1vmin;
}

.details-title {
    font-family: 'Cinzel Decorative', cursive;
    color: rgba(238, 45, 50, 1);
    font-weight: bold;
    text-align: right;
    width: 10vmin;
}

.details-item {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(241, 230, 211, 1);
    width: 24vmin;
}