.ProfilePage {
    display: flex;
    flex-direction: row;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 95vmin;
    width: 100vmax;
    
    margin: 30px;
}
  
.profile-heading {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    font-size: 3vmin;
    color: rgba(37, 35, 31, 1);
}

.avatar {
    height: 20vmin;
    width: 20vmin;
}

.profile-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 25vmin;
    width: 60vmin;
    background-color: rgba(37, 35, 31, .75);
}

.details-table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    height: 20vmin;
}

.details-title {
    font-family: 'Cinzel Decorative', cursive;
    color: rgba(238, 45, 50, 1);
    font-weight: bold;
    text-align: end;
}

.details-item {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(241, 230, 211, 1);
}