.ReferencesPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 3vmin;
  outline: none;
  text-decoration: none;
}

.references-heading {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  font-size: 3vmin;
}

.references-img {
  max-height: 17vmax;
  max-width: 30vmax;
  border: solid rgba(100, 28, 39, 1);
  border-width: 0.5vmin;
  background-color: rgba(100, 28, 39, 1);
  margin-right: 1vmin;
}

.references-container {
  display: flex;
  flex-direction: row;
  width: 60vmax;
}

.references-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30vmax;
}

.link-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30vmax;
}

.link-box, .link-box:visited {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2vmin;
  color: rgba(241, 230, 211, 1);
  text-decoration: none;
  height: 8vmax;
  width: 8vmax;
  padding: .5vmin;
  background-color: rgba(100, 28, 39, 1);
  border: solid rgba(241, 230, 211, 1);
  border-width: .25vmin;
  margin: 1vmin;
  text-decoration: none;
}

.link-box:hover {
  box-shadow: 0 1vmin 4vmin 0 rgba(55, 55, 55, 1);
  background: rgb(238,45,50);
  background: linear-gradient(0deg, rgba(238,45,50,1) 0%, rgba(158,35,44,1) 34%, rgba(127,31,41,1) 49%, rgba(100,28,39,1) 74%, rgba(100,28,39,1) 100%);
  text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}