.NavBar {
  font-family: 'Cinzel Decorative', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  outline: none;
  text-decoration: none;
  box-shadow: 0vmin 0.25vmin 1.5vmin 0.25vmin rgb(55, 55, 55);
  height: 3vmin;
  width: 100vmax;
  line-height: 3vmin;
  background-color: lightgrey;
  background-size: cover;
}

.NavBar-link {
  margin: 0 auto;
  outline: none;
  text-decoration: none;
  color: black;
}

.NavBar-link:hover {
  color: red;
}

.NavBar-welcome {
  color: white;
}
