.NavBar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0vmin .75vmin 2vmin 0vmin rgba(55, 55, 55, 1);
  height: 4vmin;
  width: 100vmax;
  background-color: rgba(37, 35, 31, 1);
  font-family: 'Cinzel Decorative', cursive;
  color: rgba(238, 45, 50, 1);
  font-size: 1.75vmin;
  outline: none;
  text-decoration: none;
  line-height: 3vmin;
}

.NavBar-link {
  outline: none;
  text-decoration: none;
  color: rgba(241, 230, 211, 1);
}

.NavBar-link:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

.navbar-left {
  order: 1;
  padding-left: 1vmin;
  width: 20vmax;
  align-self: left;
  text-align: left;
}

.navbar-center {
  order: 2;
  padding-left: 1vmin;
  padding-right: 1vmin;
  width: 60vmax;
  align-self: center;
  text-align: center;
}

.navbar-right {
  order: 3;
  padding-right: 1vmin;
  width: 20vmax;
  align-self: right;
  text-align: right;
}
