.HomePage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 95vmin;
    width: 100vmax;
    font-family: 'Cinzel Decorative', cursive;
    color: rgba(37, 35, 31, 1);
    margin: 30px;
}

.home-heading {
    font-weight: bold;
    font-size: 5vmin;
}

p {
    font-size: 2vmin;
}

.home-img {
    height: auto;
    width: 100vmin;
    border: solid rgba(100, 28, 39, 1);
    border-width: 0.5vmin;
}