.SignInPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.heading {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

input {
  height: 30px;
  width: 200px;
}